@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    background-color: rgb(8, 114, 214);
    font-family: 'Montserrat', sans-serif;
    color: rgb(234, 238, 238);
}

.question{
    padding: 3vw;
}
.get-quote{
    margin-top: 8vh;
    background-color: rgb(33, 155, 43);
    color: white;
    width: 40vw;
    height: 10vh;
    font-size: 1.2em;
    border: 2px solid #A3CE90;
}