.content-container{
    display: flex;
    flex-direction: column;
}

.grass-pic{
    border-radius: 100%;
    margin: auto;
    width: 50vw;
    height: 50vw;
    margin-top: 3vh;
    max-width: 200px;
    max-height: 200px;
}
.next{
    font-size: 1.5em;
    background: green;
    margin: auto;
    margin-top: 5vh;
    width: 50vw;
    height: 10vw;
    max-width: 250px;
    max-height: 50px;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 3vw;

}
@media only screen and (max-width: 400px){
.grass-pic{
    border-radius: 100%;
    margin: auto;
    width: 50vw;
    height: 50vw;
    margin-top: 3vh;
}
.next{
    font-size: 1.2em;
    background: green;
    margin: auto;
    margin-top: 5vh;
    width: 50vw;
    height: 10vw;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 2vw;
    }
}